{% extends 'base.html' %}
{% set active_page = 'home' %}

{% block title %}
<title>Todo Application Using Flask | by Dmitriy Shin</title>
{% endblock %}

{% block content %}
<div class="uk-container uk-margin-medium-top">
  <h1 style="font-weight: 900; margin: 0;" class="uk-heading-small">TODOIST</h1>
  <h4 style="font-weight: 100; margin: 0 0 40px 0;">Simple TODO Application Using Python Flask</h4>
  <p class='uk-text'>
    Hello! My name is Dmitriy Shin and I am the creator of this TODO application. I am a <b>self-taught</b> programmer with several skills in areas such as:
    <ul>
      <li>Web Development (Front End / Back End)</li>
      <li>Software Development (Java / C++)</li>
      <li>UI Design (Figma, Photoshop)</li>
      <li>Data Science, Machine Learning (Python)</li>
    </ul>
    The intent of this project is simply to get my hards dirty using python's flask library.
  </p>
  <blockquote>I love coding, it's my life, my hobby, my profit
  </blockquote>
</div>
{% endblock %}